body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    font-family: Poppins,Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    overflow: hidden;
  }
  .back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    height: 10%;
  }
  .main{
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

  }
  .left{
    margin-right: 313px;
  }
  .right{
    /* justify-content: start;
    margin-right: 313px; */
    position: relative;
    text-align-last: right;
    margin-top: -110px;
   
  }
/* .upper{
 
 
  display: flex;
  align-items: center;
  background-color: red;
} */
  .elips{
    background-color: red;
    padding-top: 100px;
    /* flex-direction: column; */
    
    
  
    
  }
  .login-container {
    /* position: relative; */
   
    text-align: center;
  }
  
  .login-form {
    background-color: transparent;
    /* padding: 20px 40px;
    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
    background-color: transparent;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
  }
  
  .form-group input {
    width: 140%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.5);
   background-color: transparent;
   color: #FFFFFF;
   border-radius: 10px;
  }
  
  .form-group input:focus {
    outline: none;
    /* border: 2px solid #007bff; */
  }
  
  .btn {
    width: 150%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
  }
  
 

  
  .btn:hover {
    opacity: 0.9;
  }
  
  .register {
    margin-top: 15px;
    font-size: 14px;
    justify-content: center;
    margin-left: 40px;
  }
  
  
   